<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/monkeys">All Monkeys</a></li>
        <li><a href="/categories">All Categories</a></li>
      </ul>
      <ul class="create-nav">
        <li><a href="/monkey/create">Create A Monkey</a></li>
        <li><a href="/category/create">Create A Category</a></li>
      </ul>
    </nav>
    <main>
        <h1><%= title %>: <%= category.name %></h1>
        
        <% if (category_monkeys.length) { %>
        
          <p><strong>Delete the following monkeys before attempting to delete this category.</strong></p>
            <ul>
              <% category_monkeys.forEach(function(monkey) { %>
                <li><a href="<%= monkey.url %>"><%= monkey.name %></a> ($<%= monkey.price %>)</li>
              <% }); %>
            </ul>
        
        <% } else { %>
        
          <p>Do you really want to delete this category?</p>
          <form method="POST">
            <div class="form-group">
              <input id="categoryid" class="form-input" type="hidden" name="categoryid" value="<%= category._id %>">
            </div>
            <button class="submit-button" type="submit">Delete</button>
          </form>
        
        <% } %>
    </main>
  </body>
</html>
